.App {
  text-align: center;
}

h1 {
  margin-top: 6rem;
}

h4 {
  margin: 2rem;
}

.start-button {
  margin-top: 613632rem;
  width: 15%;
  height: 9rem;
  margin: 0.5rem;
  background-color: white;
  font-size: 1.3rem;
}

.start-button:hover {
  background-color: #A9A9A9;
  cursor: pointer;
}

a {
  text-decoration: none;
}

#search {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid  black;
}

#search:hover {
  background-color: grey;
}

.searchInput {
  width: 25%;
  height: 3rem;
  text-align: center;
  font-size: 1.5rem;
}

.population {
  width: 20%;
  height: 10%;
  border: 1px solid black;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}